In [19]:
dict = {
{"customer id" : " 1",
    "first_name" : "Huzaifa",
    "last_name" : "Mehmood",
    "Address" : "orangi town",
},
{ "customer id" : " 2",
    "first_name" : "Talha",
    "last_name" : "Mehmood",
    "Address" : "North town",
},
}

TypeError: unhashable type: 'dict'

In [17]:
 customers = {
{
 "customer id": 0,
 "first name":"John",
 "last name": "Ogden",
 "address": "301 Arbor Rd.",
 },
 {
 "customer id": 1,
 "first name":"Ann",
 "last name": "Sattermyer",
 "address": "PO Box 1145",
 },
 {
 "customer id": 2,
 "first name":"Jill",
 "last name": "Somers",
 "address": "3 Main St.",
 },
20 }

TypeError: unhashable type: 'dict'

### FUNCTION

In [20]:
2+2

4

In [23]:
num1 = int(input("Enter number 1: "))
num2 = int(input("Enter number 2: "))

num1 + num2

Enter number 1: 2
Enter number 2: 4

6

In [45]:
obtain_marks = bio, chem, math, phy
bio = int(input("Enter marks bio: "))
chem = int(input("Enter marks chem: ")) 
math = int(input("Enter marks math: "))
phy = int(input("Enter marks phy: "))

calculate_percentage(bio, chem, math,phy)

Enter marks bio: 88
Enter marks chem: 66
Enter marks math: 77
Enter marks phy: 55
PERCENTAGE is 52.96296296296296

In [43]:
def calculate_percentage(bio, chem, math, phy):
    total_marks = 540
    obtain_marks = bio+chem+math+phy
    percentage = (obtain_marks * 100)/ total_marks
    print(f"PERCENTAGE is {percentage}")

In [44]:
calculate_percentage(87, 66, 87, 87)

PERCENTAGE is 60.55555555555556

In [1]:
student_grades = {"Student 1" : 100,
                "Student 2" : 87,
                 "Student 3" : 76,
                 "Student 4" : 67,
                 "Student 5" : 87}

In [2]:
student_grades

{'Student 1': 100,
 'Student 2': 87,
 'Student 3': 76,
 'Student 4': 67,
 'Student 5': 87}

In [9]:
total_grades = sum(student_grades.values())
number_of_student = len(student_grades)
average_grades = total_grades / number_of_student

print("STUDENT GRADES" , student_grades )
print("NUMBER OF STUDENT" , number_of_student )
print("TOTAL GRADES" , total_grades )
print("AVERAGE GRADES" , average_grades )

STUDENT GRADES {'Student 1': 100, 'Student 2': 87, 'Student 3': 76, 'Student 4': 67, 'Student 5': 87}
NUMBER OF STUDENT 5
TOTAL GRADES 417
AVERAGE GRADES 83.4

In [10]:
def calculate_percentage() :
    bio = int(input("Enter marks bio: "))
    chem = int(input("Enter marks chem: ")) 
    math = int(input("Enter marks math: "))
    phy = int(input("Enter marks phy: "))
    
    total_marks = 540
    obtain_marks = bio+chem+math+phy
    percentage = (obtain_marks * 100)/ total_marks
    print(f"PERCENTAGE is {percentage}")

In [11]:
calculate_percentage()

Enter marks bio: 45
Enter marks chem: 44
Enter marks math: 65
Enter marks phy: 55
PERCENTAGE is 38.7037037037037

### Task area of square

In [21]:
def calc_area():
    len_square = int(input("Enter the length : "))
    calc_area = len_square * len_square
    print(f" The area of square is {calc_area} sq.units")

In [22]:
 calc_area()

Enter the length : 8
 The area of square is 64 sq.units

In [24]:
def area(length, breath, height):
    area = length * breath / height
    print(f" The area {area} is equal to sq.meter")

In [25]:
area(98, 56, 76)

 The area 72.21052631578948 is equal to sq.meter

In [26]:
def area(length, breath, height):
    area = length * breath / height
    return area

In [27]:
area(98, 56, 76)

72.21052631578948

In [28]:
def name(first_name, middle_name, last_name):
    print(f"{first_name} {middle_name} {last_name}")

In [29]:
name("huzaifa" , "bin" , "mehmood")

huzaifa bin mehmood

In [33]:
def name(first_name, last_name, middle_name= ""):
    print(f"{first_name} {middle_name} {last_name}")

In [34]:
name("huzaifa" , "bin" , "mehmood")

huzaifa mehmood bin

In [35]:
word = ['apple', 'banana', 'apple', 'orange', 'banana', 'grape', 'apple']

if