## List

In [1]:
countires = ['Pakistan', 'Japan', 'Afghanistan']

In [3]:
countires

['Pakistan', 'Japan', 'Afghanistan']

In [4]:
countires = countires + ['India']

In [5]:
countires

['Pakistan', 'Japan', 'Afghanistan', 'India']

In [11]:
larger_countires_list = countires + ['Saudia Arabia']

In [14]:
larger_countires_list

['Pakistan', 'Japan', 'Afghanistan', 'India', 'Saudia Arabia']

In [16]:
type(larger_countires_list)

list

## appending value in list

In [17]:
countires.append('Dubai')

In [18]:
countires

['Pakistan', 'Japan', 'Afghanistan', 'India', 'Dubai']

In [19]:
countires.insert(0, 'Malaysia')

In [21]:
countires

['Malaysia', 'Pakistan', 'Japan', 'Afghanistan', 'India', 'Dubai']

In [22]:
countires.insert(3, 'America')

In [23]:
countires

['Malaysia', 'Pakistan', 'Japan', 'America', 'Afghanistan', 'India', 'Dubai']

## slicing

In [24]:
countires

['Malaysia', 'Pakistan', 'Japan', 'America', 'Afghanistan', 'India', 'Dubai']

In [25]:
slicedlist = countires [:1]

In [26]:
slicedlist

['Malaysia']

In [29]:
slicedlist = countires [1:5]

In [30]:
slicedlist

['Pakistan', 'Japan', 'America', 'Afghanistan']

In [32]:
slicedlist = countires [:]

In [33]:
slicedlist

['Malaysia', 'Pakistan', 'Japan', 'America', 'Afghanistan', 'India', 'Dubai']

## Deleting value in list

In [34]:
countires

['Malaysia', 'Pakistan', 'Japan', 'America', 'Afghanistan', 'India', 'Dubai']

In [36]:
del countires[4]

In [37]:
countires

['Malaysia', 'Pakistan', 'Japan', 'America', 'India', 'Dubai']

In [41]:
countires.remove('Pakistan')

In [42]:
countires

['Malaysia', 'Japan', 'America', 'India', 'Dubai']

## IF ELSE CONDITION

In [8]:
country = "Pakistan"
height = 5

In [13]:
if country !="Pakistan":
    print('Huzaifa is not happy')
elif height <6:
        print('Huzaifa is happy')
else:
    print('Huzaifa is fine')

Huzaifa is happy

In [17]:
country = input('Enter a country')
height = int(input('Enter a height '))

if country !="Turkey":
    print('Huzaifa is no happpy')
elif height >5:
    print('Huzaifa is happy for height')
    
else:
    print('Huzaifa is sad')

Enter a countryTurkey
Enter a height 8
Huzaifa is happy for height

In [15]:
num = 2

In [16]:
num%2==0

True

In [17]:
if num%3==0:
    print('num is a even number')
else:
        print('num is a odd number')

num is a odd number

In [2]:
num = 2
num%2==0

True

In [3]:
if num%2==0:
    print('num is a even number')
else:
    print('num is a odd num')

num is a even number

In [30]:
salary = int(input('Enter your salary '))
service_of_year = int(input('Enter your service_of_year'))


if service_of_year > 6:
    Bonus_percentage = 5
    Bonus_amount = (Bonus_percentage /100)* salary
    print(f"congratulation! you are eligible for {Bonus_percentage}% bonus.")
    print(f"Net Bonus_amount: ${Bonus_amount:}")
else:
         print('sorry you are not eligible for bonus')

Enter your salary 7777777
Enter your service_of_year8
congratulation! you are eligible for 5% bonus.
Net Bonus_amount: $388888.85000000003

In [ ]:
salary = int(input('Enter your salary '))
service_of_year = int(input('Enter your service_of_year'))

if service_of_year > 9:
    Bonus_percentage = 5
    Bonus_amount = (Bonus_percentage/100)* salary
    print(f"congratulation! you are eligible for {Bonus_percentage}% bonus.")
    print(f"Net Bonus_amount: {Bonus_amount:}")
else:
    print("you are not eligible")

In [2]:
salary = int(input('Enter your salary '))
service_of_year = int(input('Enter your service_of_year'))

if service_of_year > 9:
    Bonus_percentage = 5
    Bonus_amount = (Bonus_percentage/100)* salary
    print(f"congratulation! you are eligible for {Bonus_percentage}% bonus.")
    print(f"Net Bonus_amount: {Bonus_amount:}")
else:
    print("you are not eligible")

Enter your salary 8888888
Enter your service_of_year10
congratulation! you are eligible for 5% bonus.
Net Bonus_amount: 444444.4

In [4]:
age = int(input("Enter your age" ))
if age >18 :
    print('congratulation you are eligible for voting')
else :
    print('you are not eligible')

Enter your age19
congratulation you are eligible for voting

In [11]:
for year in [1600, 1700, 1800, 1900]:
 print (year)
 print('loop cycle')

1600
loop cycle
1700
loop cycle
1800
loop cycle
1900
loop cycle

In [12]:
for i in range (0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
for i in range (10,20,2):
    print(i)

10
12
14
16
18

In [4]:
weight = 150

In [5]:
print(weight)

150

In [6]:
weight + 25

175

In [7]:
print (weight)

150

In [8]:
weight +=25

In [9]:
print(weight)

175

In [11]:
original_num = 25 
new_num = original_num + 7

In [13]:
print(new_num)

32

In [14]:
dozen = 3*12

In [15]:
print(dozen)

36

In [16]:
age =  18

In [19]:
age = age + 2

In [20]:
print (age)

20

In [23]:
age +=10

In [24]:
print(age)

20

In [25]:
print(age)

20

In [26]:
age +=10

In [27]:
print(age)

30

In [28]:
age -=12

In [29]:
print(age)

18

In [30]:
total_cost = 1 + (3 * 4)

In [31]:
print(total_cost)

13

In [54]:
gretting = "hello"
address = "world"
whole_gretting = gretting + address

In [55]:
print(whole_gretting)

helloworld

In [62]:
if speciese = "animal":
    print("yep its animal")

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1802843618.py, line 1)

In [73]:
species = "cat"

In [74]:
if species =='cat':
    print('yep its cat')

yep its cat

In [82]:
if number_of_husband == 1:
    print("so good.")
    print('congratulation.')
    print("done")

NameError: name 'number_of_husband' is not defined

In [86]:
number_of_husband = 3

In [88]:
if number_of_husband == 3:
    print("so far good")
    print("congratulation")
    print("done")

so far good
congratulation
done

In [90]:
number_of_husband = 5

if number_of_husband ==2:
    print("so far so good")
    
else:
    print("so handsome")

so handsome

In [92]:
age = 18

if age >16:
    print("you are selected")
else:
    print('not selected')

you are selected

In [94]:
if species == "cat":
    print("Yep, it's cat.")
if species != "dog":
    print("Nope, not cat.")

Yep, it's cat.
Nope, not cat.

In [97]:
if age > 17:
    print('selected')
if age <5:
    print('selested')

selected

In [6]:
name = input("My name is : ")
print(len(name))

My name is : huzaifa
7

In [9]:
str = "hi i $am a$ busssiness $man"

In [12]:
str.count("$")

3

In [32]:
marks = int(input("Enter your marks "))
if marks >= 90:
    grades = "A"
elif marks >= 80 and marks < 90:
    grades = "B"
elif marks >= 70 and marks < 80:
    grades = "C"
else :
    grade = "D"
    
    print("student grades is ->", grades)

Enter your marks 30
student grades is -> B

In [30]:
marks

56

In [13]:
country = "turkey"
girl_height = 7

In [14]:
if country == "Pakistan":
    print("Huzaifa is happy for marriage ")
elif girl_height >= 6:
    print("He is so excited for marry")
else:
    print("He is so sad")

He is so excited for marry

In [17]:
salary = int(input("Enter your salary "))
year_of_service = int(input("Enter your year of service "))

if year_of_service > 6:
    bonus_percentage = 5
    bonus_amount = (bonus_percentage / 100) * salary
    print(f"you are eligible for {bonus_percentage}% bonus.")
    print(f"Net bonus amount is {bonus_amount}:")
else:
    print("You are not eligile for bonus")

Enter your salary 700000
Enter your year of service 7
you are eligible for 5% bonus.
Net bonus amount is 35000.0:

## 2) Write a program to check whether a person is eligible for voting or not. (accept age from user) if age is greater than 17 eligible otherwise not eligible

In [19]:
age = int(input("Enter your age "))
if age > 17:
    print("you are eligible for voting")
else: 
    print("You will try next year")

Enter your age 26
you are eligible for voting

### 3) Write a program to check whether a number entered by user is even or odd.

In [29]:
if num %2==0:
    print("num is even number")
else:
    print("num is odd number")

num is odd number

num = 2
num%2

In [32]:
num = 7
num%3==0

False

In [35]:
num1 = 3
num1%2==0
if num1 %3==0:
    print("num is odd number ")

num is odd number

In [1]:
marks = [45, 66, 78, 87, 99]
marks

[45, 66, 78, 87, 99]

In [2]:
marks[0]

45

In [3]:
len(marks)

5

In [4]:
marks[0] = 67

In [5]:
marks

[67, 66, 78, 87, 99]

In [6]:
for y in marks:
    print(y)

67
66
78
87
99

In [15]:
marks[-4:]

[66, 78, 87, 99]

In [27]:
bio_data = ["first_name : huzaifa",
            "last_name : Mehmood",
            "age : 21",
            "addtress : Orangi towm karachi"]

In [28]:
bio_data

['first_name : huzaifa',
 'last_name : Mehmood',
 'age : 21',
 'addtress : Orangi towm karachi']

In [29]:
for data in bio_data:
    print(data)

first_name : huzaifa
last_name : Mehmood
age : 21
addtress : Orangi towm karachi

In [33]:
bio_data

['addtress : Orangi towm karachi',
 'age : 21',
 'first_name : huzaifa',
 'last_name : Mehmood']

In [34]:
bio_data.sort()

In [35]:
bio_data

['addtress : Orangi towm karachi',
 'age : 21',
 'first_name : huzaifa',
 'last_name : Mehmood']

In [36]:
bio_data.reverse()

In [37]:
bio_data

['last_name : Mehmood',
 'first_name : huzaifa',
 'age : 21',
 'addtress : Orangi towm karachi']

In [38]:
name = "huzaifa"

In [40]:
name = name[::-1]

In [41]:
name

'afiazuh'

In [46]:
list =['c, y, j, a, m, d']

In [47]:
list.sort()

In [48]:
list

['c, y, j, a, m, d']

In [49]:
list = ["apple", "mango", "banana"]

In [50]:
list.sort()

In [51]:
list

['apple', 'banana', 'mango']

In [52]:
list.remove("banana")

In [53]:
list

['apple', 'mango']

In [54]:
list.pop(0)

'apple'

In [ ]:
movies = []
movies.append(input("Enter movie1 name "))
movies.append(input("Enter movie2 name "))
movies.append(input("Enter movie3 name "))

print(movies)

In [1]:
movie = []

In [3]:
mov1 = input("Enter 1st movie: ")
mov2 = input("Enter 2nt movie: ")
mov3 = input("Enter 3rt movie: ")

movie.append(mov1)
movie.append(mov2)
movie.append(mov3)

print(movie)

Enter 1st movie: kinng
Enter 2nt movie: king1
Enter 3rt movie: hero
['hero', 'king', 'tiger', 'kinng', 'king1', 'hero']

In [4]:
movies = []
movies.append(input("Enter 1st movie: "))
movies.append(input("Enter 2nt movie: "))
movies.append(input("Enter 3rt movie: "))

print(movies)

Enter 1st movie: king
Enter 2nt movie: queen
Enter 3rt movie: hero
['king', 'queen', 'hero']

In [8]:
list = ["huzaifa"]
list1 = list.copy()
list1.reverse()

if list1 == list:
    print("palindroom")
else:
    print("not palindrom")

palindroom