In [4]:
class car():
    def __init__(self, model, colour, brand):
        self.model = model
        self.colour = colour
        self.brand = brand

In [5]:
check_class = car("2022", "black", "honda")

In [6]:
check_class.brand

'honda'

In [7]:
check_class.colour

'black'

In [8]:
check_class.model

'2022'

In [9]:
check_car = car(2020, "silver", "Nissan")

In [10]:
check_car.model

2020

In [11]:
check_car.colour

'silver'

In [12]:
check_car.brand

'Nissan'

In [13]:
def under_model(model, colour, brand):
    if model < 2020:
        print(f"is under model {model} {colour} {brand} : ward 1")
    else:
        print(f" is not under model {model} {colour} {brand} : ward 2")

In [17]:
under_model(2022,"silver", "honda")

 is not under model 2022 silver honda : ward 2

In [18]:
under_model(2018,"black", "nissan")

is under model 2018 black nissan : ward 1

In [1]:
class car:
        color = "blue"
        brand = "honda"
car1 = car()
print(car1.color)
print(car1.brand)

blue
honda

In [2]:
class student:
    name = "huzaifa"
s1 = student()
print(s1.name)

huzaifa

In [5]:
class student:
    def __init__(self):
        print("adding new name.. ") 
s1 = student()

adding new name..

In [13]:
class student:
    def __init__(self, name, marks):
        self.name = name
        self.marks = marks
    def get_avg(self):
        sum = 0
        for val in self.marks:
            sum += val
        print("hi", self.name, "your avg marks is: ", sum/3)

In [16]:
s1 = student("huzaifa", [99, 98, 88])

In [17]:
s1.marks

[99, 98, 88]

In [18]:
s1.get_avg

In [19]:
s1.name

'huzaifa'

In [4]:
class student:
    def __init__(self,name):
        self.name = name
        
s1 = student("huzaifa")
print(s1.name)

huzaifa

In [8]:
class student:
    def __init__(self,name):
        self.name = name
        
s1 = student("huzaifa")
print(s1.name)
del s1.name
print(s1.name)

huzaifa

AttributeError: 'student' object has no attribute 'name'

In [9]:
class account:
    def __init__(self, acc_no, acc_pass):
        self.acc_no = acc_no
        self.acc_pass = acc_pass
acc1 = account('122232', "huaihag")
print(acc1.acc_no)
print(acc1.acc_pass) #for public

122232
huaihag