## List

In [5]:
list1 = ['banana', 'mango', 'orange', 'apple']

In [6]:
list1

['banana', 'mango', 'orange', 'apple']

In [7]:
list1.sort()

In [8]:
list1

['apple', 'banana', 'mango', 'orange']

In [9]:
new_list = list1.copy()

In [10]:
new_list

['apple', 'banana', 'mango', 'orange']

In [11]:
list1 = ['banana', 'mango', 'orange', 'apple','pineapple']

In [12]:
new_list

['apple', 'banana', 'mango', 'orange']

In [13]:
list1

['banana', 'mango', 'orange', 'apple', 'pineapple']

In [14]:
list1.insert(0,'mangos')

In [15]:
list1

['mangos', 'banana', 'mango', 'orange', 'apple', 'pineapple']

In [16]:
list1.insert( 1, 'applles')

In [17]:
list1

['mangos', 'applles', 'banana', 'mango', 'orange', 'apple', 'pineapple']

## For Loops

In [18]:
list1

['mangos', 'applles', 'banana', 'mango', 'orange', 'apple', 'pineapple']

In [19]:

for temp_var in list1:
    if temp_var == "mango":
        print("yes i found")

yes i found

In [20]:
for temp_var in list1:
    if temp_var == "mango":
        print("yes i found")
    else:
        print('not found')

not found
not found
not found
yes i found
not found
not found
not found

In [21]:
for temp_var in list1:
    if temp_var == "banana":
        print("yes i found")
        break
    else:
        print('not found')

not found
not found
yes i found

In [22]:
for temp in range(10):
    print(temp)

0
1
2
3
4
5
6
7
8
9

In [23]:
for temp in range(1, 11):
    print(temp)

1
2
3
4
5
6
7
8
9
10

In [24]:
for temp in range(1, 11):
    print(f"2 *{temp} = {temp * 2} ")

2 *1 = 2
2 *2 = 4
2 *3 = 6
2 *4 = 8
2 *5 = 10
2 *6 = 12
2 *7 = 14
2 *8 = 16
2 *9 = 18
2 *10 = 20

## Nested loops

In [25]:
for temp in range (2, 6):
    print('table of {temp}')
    for temp_2 in range (1,11):
        print(f"{temp} * {temp_2} = {temp * temp_2}")

table of {temp}
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
table of {temp}
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
table of {temp}
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
table of {temp}
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [51]:
year = int(input("Enter_your_year"))
Month =input("Enter_your_year")

Enter_your_year2024
Enter_your_year2

In [29]:
year = int(input("Enter_your_year"))
Month =input("Enter_your_year")
if Month == "january":
        print("This monnth 4 sunday")
else:
    print("Not Found january")

Enter_your_year2023
Enter_your_year1
Not Found january

In [30]:
year = int(input("Enter_your_year"))
Month =input("Enter_your_year")
if Month != "january":
        print("This monnth 4 sunday")
else:
    print("Not Found january")

Enter_your_year24
Enter_your_year1
This monnth 4 sunday

In [33]:
year = int(input("Enter_your_year"))
Month =input("Enter_your_year")
if Month == "january":
        print("This monnth 4 sunday")
elif Year != 2024:
        print("yes i found")
else:
    print("Not Found january")

Enter_your_year2024
Enter_your_yearjanuary
This monnth 4 sunday

In [34]:
"cat"

'cat'

In [35]:
list1

['mangos', 'applles', 'banana', 'mango', 'orange', 'apple', 'pineapple']

In [2]:
'cat'.upper()

'CAT'

In [37]:
list1

['mangos', 'applles', 'banana', 'mango', 'orange', 'apple', 'pineapple']

In [38]:
list_upper = []
for temp in list1:
    list_upper.append(temp.upper())

In [39]:
list_upper

['MANGOS', 'APPLLES', 'BANANA', 'MANGO', 'ORANGE', 'APPLE', 'PINEAPPLE']

In [40]:
list_upper.sort()

In [41]:
list_upper

['APPLE', 'APPLLES', 'BANANA', 'MANGO', 'MANGOS', 'ORANGE', 'PINEAPPLE']

In [42]:
list1

['mangos', 'applles', 'banana', 'mango', 'orange', 'apple', 'pineapple']

In [43]:
new_list = list1

In [47]:
new_list

['mangos', 'applles', 'banana', 'mango', 'orange', 'apple', 'pineapple']

In [49]:
upper_list = []
for temp in new_list:
    upper_list.append(temp.upper())

In [50]:
upper_list

['MANGOS', 'APPLLES', 'BANANA', 'MANGO', 'ORANGE', 'APPLE', 'PINEAPPLE']

In [52]:
list1

['mangos', 'applles', 'banana', 'mango', 'orange', 'apple', 'pineapple']

In [53]:
lower_list = []
for temp in list1:
    lower_list.append(temp.lower())

In [54]:
lower_list

['mangos', 'applles', 'banana', 'mango', 'orange', 'apple', 'pineapple']

In [57]:
title_list = []
for temp in list1:
    title_list.append(temp.title())

In [58]:
title_list

['Mangos', 'Applles', 'Banana', 'Mango', 'Orange', 'Apple', 'Pineapple']

In [59]:
list1

['mangos', 'applles', 'banana', 'mango', 'orange', 'apple', 'pineapple']

In [88]:
first_name = ['Huzaifa', 'Talha', "Huraira"]
last_name = ['Mehmood']
full_name = []
for a_first_name in first_name:
    for a_last_name in last_name:
        full_name.append (a_first_name +" " +a_last_name)

In [65]:
full_name

['Huzaifa Mehmood', 'Talha Mehmood', 'Huraira Mehmood']

In [83]:
f_name= ('Huzaifa', 'Talha', 'Huraira')

In [84]:
l_name = ('Mehmood')

In [85]:
print(full_name)

['Huzaifa Mehmood', 'Talha Mehmood', 'Huraira Mehmood']

In [4]:
Student_name = ['Shabbir', 'Moin', 'Latif', 'Khalid', 'Salman']

In [5]:
Student_name

['Shabbir', 'Moin', 'Latif', 'Khalid', 'Salman']

In [6]:
Student_name.append("Mumtaz")

In [7]:
Student_name

['Shabbir', 'Moin', 'Latif', 'Khalid', 'Salman', 'Mumtaz']

In [8]:
Student_name.append('Saleem')

In [9]:
Student_name

['Shabbir', 'Moin', 'Latif', 'Khalid', 'Salman', 'Mumtaz', 'Saleem']

In [11]:
for temp in Student_name:
    if temp =="Khalid":
        print('this is available')
    else:
        print('not found')

not found
not found
not found
this is available
not found
not found
not found

In [14]:
table_start = int(input('Enter your table start '))
table_end = int(input('Enter your table till '))
table_length = int(input('Enter your table length'))


for method in range (table_start, table_end):
    print('table of {method}')
    for temp_2 in range (table_length+2):
        print(f"{method} * {temp_2} = {method * temp_2}")

Enter your table start 2
Enter your table till 5
Enter your table length5
table of {method}
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
table of {method}
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
table of {method}
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24

In [5]:
NAME = input("Enter your name" )
FATHER_NAME = input("Enter your father_name" )
CNIC = int(input("Enter your cnic num" ))
COURCE = input("Enter your course")

print("------------SAYLANI (SMIT)--------------")
print(f"name: {NAME}")
print(f"father_name: {FATHER_NAME}")
print(f"cnic: {CNIC}")
print(f"course: {COURCE}")
print("***********************************")

Enter your nameHUZAIFA
Enter your father_nameMEHMOOD
Enter your cnic num62533
Enter your coursePYTHON
------------SAYLANI (SMIT)--------------
name: HUZAIFA
father_name: MEHMOOD
cnic: 62533
course: PYTHON
***********************************

In [10]:
NAME = input("Enter your name" )
FATHER_NAME = input("Enter your father_name" )
CNIC = int(input("Enter your cnic num" ))
COURCE = input("Enter your course")

print("------------SAYLANI (SMIT)--------------")
print("name: {0}".format(NAME))/n print("father_name: {1}".format(FATHER_NAME))/n print("cnic: {2}".format(CNIC))/n print("course: {3}".format(COURCE))/n print("***********************************")



print("***********************************")

SyntaxError: invalid syntax (2429854966.py, line 7)

In [6]:
NAME = input("Enter your name" )
print("------------SAYLANI (SMIT)--------------")
print("name: {0}".format(NAME))

Enter your namehuzaifa
------------SAYLANI (SMIT)--------------
name: huzaifa

SyntaxError: unmatched ')' (3616912235.py, line 8)